{% extends 'base.html' %}

{% block content %}

<div class="home-buttons">
  <a href="{% url 'earning_list' %}">View Earnings</a>
  <a href="{% url 'add_earning' %}">Add Earning</a>
  <a href="{% url 'export_earnings_excel' %}" class="download-excel">Download as Excel</a>
</div>

  <h2>Earnings List</h2>

  <!-- Table for displaying earnings -->
  <table class="earnings-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Source</th>
        <th>Amount</th>
        <th>Tip</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for earning in earnings %}
        <tr>
          <td>{{ earning.date }}</td>
          <td>{{ earning.source }}</td>
          <td>${{ earning.amount }}</td>
          <td>${{ earning.tip }}</td>
          <td>${{ earning.total }}</td>
          <td>
            <a href="{% url 'edit_earning' earning.pk %}" class="button">Edit</a>
  |
            <form action="{% url 'delete_earning' earning.pk %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Link to add a new earning -->
  <a href="{% url 'add_earning' %}" class="add-new-earning">Add new earning</a>

{% endblock %}
