{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="home-container">
  <h1>Welcome to Wolt Payment Tracker</h1>
  <p>Manage your earnings, track your progress, and stay in control of your finances.</p>
  
  <div class="home-buttons">
    <a href="{% url 'sort_earnings' %}">View Earnings by weeks</a>
    <a href="{% url 'earning_list' %}">View Earnings</a>
    <a href="{% url 'add_earning' %}">Add Earning</a>
  </div>
</div>
<div class="home-container">
  <p class="total">Total Earnings: <span class="totalamounts">${{ total_earnings|floatformat:2 }}</span></p>
  {% if total_amounts %}
    <p class="total">Total Amount: <span class="totalamounts">${{ total_amounts|floatformat:2 }}</span></p>
  {% endif %}

  {% if nettotal_earnings %}
      <p class="total">Net Total Earnings: <span class="totalamounts">${{ nettotal_earnings|floatformat:2 }}</span></p>
    {% endif %}
  <form method="post">
    {% csrf_token %}
    <button type="submit" name="generate" value="1">Generate & Save to DB</button>
  </form>

  <h2>Monthly Earnings</h2>
  {% if half_month_earnings %}
<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>1st Half ($)</th>
      <th>30%</th>
      <th>2nd Half ($)</th>
      <th>30%</th>
      <th>Total ($)</th>
      <th>Net Total ($)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in half_month_earnings %}
    <tr>
      <td>{{ item.month|date:"F Y" }}</td>
      <td>
        <span class="mainpay">Tips: ${{ item.total_tips1|floatformat:2 }}</span>
        <span class="mainpay">Amounts: ${{ item.total_amount1|floatformat:2 }}</span>
        <span class="mainpay">Total: ${{ item.start|floatformat:2 }}</span>
        <span class="mainpay">Revenu: </span> ${{ item.netpay1|floatformat:2 }}
        <span class="mainpay">need: </span> ${{ item.net1need|floatformat:2 }}

        {% if item.ispaid_part1 == "Yes" %}
          <span class="ispaid">Paid</span>
        {% endif %}
        {% if item.ispaid_part1 == "Next" %}
          <span class="isnext">Next</span>
        {% endif %}

      </td>
      <td>
        {% if item.per30_1 %}
          <span class="pay30">${{ item.per30_1|floatformat:2 }}</span>
        {% endif %}
      </td>
      <td>
        <span class="mainpay">Tips: ${{ item.total_tips2|floatformat:2 }}</span>
        <span class="mainpay">Amounts: ${{ item.total_amount2|floatformat:2 }}</span>
        <span class="mainpay">Total: ${{ item.end|floatformat:2 }}</span>
        <span class="mainpay">Revenu: </span> ${{ item.netpay2|floatformat:2 }}
        <span class="mainpay">need: </span> ${{ item.net2need|floatformat:2 }}

        {% if item.ispaid_part2 == "Yes" %}
          <span class="ispaid">Paid</span>
        {% endif %}
        {% if item.ispaid_part2 == "Next" %}
          <span class="isnext">Next</span>
        {% endif %}
      </td>
      <td>
        {% if item.per30_2 %}
          <span class="pay30">${{ item.per30_2|floatformat:2 }}</span>
        {% endif %}
      </td>
      <td><span class="mainpay">${{ item.total|floatformat:2 }}</span></td>
      <td>${{ item.nettotal|floatformat:2 }}</td>
      <td>
        <a href="{% url 'update_weekly_pay' item.id %}" class="button">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
</div>
<canvas id="monthlyChart" width="600" height="300"></canvas>
{% endblock %}

