{% extends 'base.html' %}

{% block content %}

<div class="home-buttons">
  <a href="{% url 'add_invoice' %}" class="button">Add Invoice</a>
</div>
<p>Total Tips: {{ total_tips }}</p>

  <h2>Earnings List</h2>

  <!-- Table for displaying earnings -->
  <table class="earnings-table">
    <thead>
      <tr>
        <th>Month</th>
        <th>Week</th>
        <th>Total</th>
        <th>4%</th>
        <th>2.5%</th>
        <th>Payment</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
        <tr>
          <td>{{ invoice.month }}</td>
          <td>{{ invoice.week }}</td>
          <td>${{ invoice.total }}</td>
           <td>${{ invoice.percent4 }}</td>
            <td>${{ invoice.health_ins }}</td>
          <td>${{ invoice.revenue }}</td>
          <td>
            
            <a href="{% url 'edit_invoice' invoice.pk %}" class="button">Edit</a>
  |
            <form action="{% url 'delete_invoice' invoice.pk %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Link to add a new earning -->
  <a href="{% url 'add_earning' %}" class="add-new-earning">Add new earning</a>

{% endblock %}
