{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projwolt</title>

  <!-- Link to global styles -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header>
    <!-- Your header content -->
    <nav>
        <a href="{% url 'home' %}"  class="button">🏠 Back to Home</a>
        {% if user.is_authenticated %}
            <span>Welcome, {{ user.username }}</span>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="button">Login</a>
            <a href="{% url 'register' %}" class="button">Register</a>
        {% endif %}
    </nav>
  </header>

  <div class="content">
    {% if total_earnings %}
      <p class="total">Total Earnings: <span class="totalamounts">${{ total_earnings|floatformat:2 }}</span></p>
    {% endif %}
    {% if total_gigs %}
      <p class="total">Total Gigs: <span class="totalamounts">${{ total_gigs|floatformat:2 }}</span></p>
    {% endif %}
    {% block content %}
    {% endblock %}
  </div>

  <footer>
    <!-- Your footer content -->
  </footer>

</body>
</html>
