{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projwolt</title>

  <!-- Link to global styles -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <header>
    <!-- Your header content -->
    <nav>
        <a href="{% url 'home' %}">🏠 Back to Home</a>
    </nav>
  </header>

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

  <footer>
    <!-- Your footer content -->
  </footer>

</body>
</html>
