{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<div class="home-container">
  <h1>Welcome to Gig Tracker</h1>
  <p>Manage your earnings, track your progress, and stay in control of your finances.</p>
  
  <div class="home-buttons">
    <a href="{% url 'sort_gigs' %}">View Gigworks by weeks</a>
    <a href="{% url 'gigwork_list' %}">View Gigworks</a>
    <a href="{% url 'add_gigwork' %}">Add Gigwork</a>
  </div>
</div>
<div class="home-container">
  <h1>Welcome to Wolt Payment Tracker</h1>
  <p>Manage your earnings, track your progress, and stay in control of your finances.</p>
  
  <div class="home-buttons">
    <a href="{% url 'earning_list_sort' %}">View Earnings by weeks</a>
    <a href="{% url 'earning_list' %}">View Earnings</a>
    <a href="{% url 'add_earning' %}">Add Earning</a>
  </div>
</div>

{% endblock %}
